
    body {
        background-color: #ddd;
    }
    
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev{
        display:block;
    }
.bg-image{
    background-image: url('img/premiere.png');
    height: 400px;
}